.chat-message-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.chat-cards {
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.individual-chat-card {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.card-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
}


